<!DOCTYPE html>
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
<html class="no-js lt-ie9 lt-ie8">
<html class="no-js lt-ie9">
<html class="no-js">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>cgss</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

{#	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->#}
	<link rel="shortcut icon" href="favicon.ico">

	<link href='http://fonts.useso.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

	<!-- Animate.css -->
	<link rel="stylesheet" href="/static/cgss/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/static/cgss/css/icomoon.css">
	<!-- Simple Line Icons -->
	<link rel="stylesheet" href="/static/cgss/css/simple-line-icons.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/static/cgss/css/bootstrap.css">
	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="/static/cgss/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/static/cgss/css/owl.theme.default.min.css">
	<!-- Style -->
	<link rel="stylesheet" href="/static/cgss/css/style.css">


	<!-- Modernizr JS -->
	<script src="/static/cgss/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="/static/cgss/js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>


	<section id="fh5co-team" data-section="team" style="background-color: rgba(244,246,248,0.91)">
		<div class="fh5co-team">
			<div class="container">



				<div class="row">
					<div class="col-md-12 section-heading text-center">
						<h2 class="to-animate"><a href="http://127.0.0.1:8000/homepage/introduction" style="color: #0b0b0b">cgss</a></h2>
						<div class="row">
							<div class="col-md-8 col-md-offset-2 subtext">
								<h3 class="to-animate"></h3>
							</div>
						</div>
					</div>
				</div>

                <br>


                <div class="row">
					<div class="col-md-4">
						<div class="team-box text-center to-animate-2">
							<div class="user"><img class="img-reponsive" src="/static/cgss/images/cgss/dyn.jpg" alt="Roger Garfield"></div>
							<h3>杜一诺</h3>
							<!--<span class="position">Co-Founder, Lead Developer</span>-->
							<p>杜一诺，山东大学(威海)17级数学与统计学院统计学专业学生，在大一期间进行CGSS数据清洗工作，参与科研立项和"挑战杯"等活动。现担任郭亮老师科研助理。一名白羊座妹子，我的家乡是山东临沂，生于此长于斯，浮世三千 ，吾爱有三，爱美食，爱视频，爱生活。</p>
					</div>
				</div>

					<div class="col-md-4">
						<div class="team-box text-center to-animate-2">
							<div class="user"><img class="img-reponsive" src="/static/cgss/images/cgss/fcy.jpg" alt="Roger Garfield"></div>
							<h3>付超英</h3>
							<!--<span class="position">Co-Founder, Product Designer</span>-->
							<p>付超英，2017级数学与统计学院统计一班。曾在大一期间进行CGSS数据清洗工作，现担任郭亮老师科研助理，负责社会学研究中文献查找与回顾。我想说：开始做想做的事，做好该做的事，不要因为害怕自己并非明珠而不敢刻苦琢磨，我只知道，越主动，越努力，越幸运。</p>
						</div>
					</div>

					<div class="col-md-4">
						<div class="team-box text-center to-animate-2">
							<div class="user"><img class="img-reponsive" src="/static/cgss/images/cgss/yy.jpg" alt="Roger Garfield"></div>
							<h3>叶扬</h3>
							<!--<span class="position">Full Stack Developer</span>-->
							<p>叶扬，山东大学(威海)2017级数学与统计学院统计学专业学生，在大一期间进行CGSS数据清洗工作，参与科研立项和"挑战杯"等活动。现担任郭亮老师科研助理。热爱学习，善于交流。</p>
						    <br>

                        </div>
					</div>


				</div>


				<br>
				<br>
				<br>

				<div class="row">
					<div class="col-md-4">
						<div class="team-box text-center to-animate-2">
							<div class="user"><img class="img-reponsive" src="/static/cgss/images/cgss/lzj.jpg" alt="Roger Garfield"></div>
							<h3>李嘉乐</h3>
							<!--<span class="position">Full Stack Developer</span>-->
							<p>李嘉乐，山东大学(威海)17级数学与统计学院统计学专业学生，在大一期间进行CGSS数据清洗工作，参与科研立项和"挑战杯"等活动。现担任郭亮老师科研助理，负责项目网站的搭建。</p>
						</div>
					</div>

					<div class="col-md-4">
						<div class="team-box text-center to-animate-2">
							<div class="user"><img class="img-reponsive" src="/static/cgss/images/cgss/ljs.jpg" alt="Roger Garfield"></div>
							<h3>连嘉舜</h3>
							<!--<span class="position">Co-Founder, Product Designer</span>-->
							<p>连嘉舜，山东大学(威海)17级数学与统计学院统计学专业学生，在大一期间进行CGSS数据清洗工作，参与科研立项和"挑战杯"等活动。现担任郭亮老师科研助理，目前负责戒毒所项目的管理。</p>
						</div>
					</div>

					<div class="col-md-4">
						<div class="team-box text-center to-animate-2">
							<div class="user"><img class="img-reponsive" src="/static/cgss/images/cgss/gll.jpg" alt="Roger Garfield"></div>
							<h3>郭琳琳</h3>
							<!--<span class="position">Full Stack Developer</span>-->
							<p>郭琳琳，山东大学(威海)17级数学与统计学院统计学专业学生，在大一期间进行CGSS数据清洗工作，参与科研立项和"挑战杯"等活动。现担任郭亮老师科研助理。国家一级退堂鼓表演艺术家。</p>
						</div>
					</div>


				</div>

				<br>
				<br>
				<br>

				<div class="row">
					<div class="col-md-4">
						<div class="team-box text-center to-animate-2">
							<div class="user"><img class="img-reponsive" src="/static/cgss/images/cgss/wj.jpg" alt="Roger Garfield"></div>
							<h3>吴洁</h3>
							<!--<span class="position">Co-Founder, Lead Developer</span>-->
							<p>吴洁，山东大学(威海)17级数学与统计学院统计学专业学生，在大一期间进行CGSS数据清洗工作，大一学年获国家励志奖学金和二等奖学金，院级优秀学生干部，现任统计调研协会会长。虽身在数学，但心在四方，立志活得像一支队伍。</p>
						</div>
					</div>


                    <div class="col-md-4">
						<div class="team-box text-center to-animate-2">
							<div class="user"><img class="img-reponsive" src="/static/cgss/images/cgss/lyk.jpg" alt="Roger Garfield"></div>
							<h3>刘宇宽</h3>
							<!--<span class="position">Co-Founder, Lead Developer</span>-->
							<p>刘宇宽，山东大学(威海)17级数学与统计学院统计学专业学生，在大一期间进行CGSS数据清洗工作，参与科研立项和"挑战杯"等活动。现担任郭亮老师科研助理，爱好吃美食,性格外冷内热，可能更喜欢一个人多一点。</p>
						</div>
					</div>

					<div class="col-md-4">
						<div class="team-box text-center to-animate-2">
							<div class="user"><img class="img-reponsive" src="/static/cgss/images/cgss/xxl.jpeg" alt="Roger Garfield"></div>
							<h3>邢晓莉</h3>
							<!--<span class="position">Co-Founder, Product Designer</span>-->
							<p>邢晓莉，山东大学(威海)17级数学与统计学院统计学专业学生，大一学年获得国家奖学金和学业一等奖学金。对科学研究有浓厚兴趣，参与科研立项和"挑战杯"等活动。同时，喜欢篮球，喜欢韩剧，是一个对蜡笔小新有执念的女大学生。</p>
						</div>
					</div>




				</div>

				<br>
				<br>
				<br>



{#				<div class="row">#}
{##}
{##}
{#                    <div class="col-md-4">#}
{#						<div class="team-box text-center to-animate-2">#}
{#							<div class="user"><img class="img-reponsive" src="/static/cgss/images/cgss/wj.jpg" alt="Roger Garfield"></div>#}
{#							<h3>吴洁</h3>#}
{#							<!--<span class="position">Co-Founder, Lead Developer</span>-->#}
{#							<p>吴洁，数学院2017级统计学学生。大一学年获国家励志奖学金和二等奖学金，院级优秀学生干部，现任统计调研协会会长。虽身在数学，但心在四方，立志活得像一支队伍。</p>#}
{#						</div>#}
{#					</div>#}
{##}
{##}
{##}
{#			</div>#}
		</div>
		</div>
	</section>













	<!-- jQuery -->
	<script src="/static/cgss/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="/static/cgss/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="/static/cgss/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="/static/cgss/js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="/static/cgss/js/jquery.stellar.min.js"></script>
	<!-- Owl Carousel -->
	<script src="/static/cgss/js/owl.carousel.min.js"></script>
	<!--&lt;!&ndash; Google Map &ndash;&gt;-->
	<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>-->
	<!--<script src="js/google_map.js"></script>-->
	<!-- Main JS (Do not remove) -->
	<script src="/static/cgss/js/main.js"></script>

	</body>
</html>

