<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>18戒毒所编码表</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by FreeHTML5.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="FreeHTML5.co" />



  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'>

	<!-- Animate.css -->
	<link rel="stylesheet" href="/static/18bianma/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/static/18bianma/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/static/18bianma/css/bootstrap.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="/static/18bianma/css/magnific-popup.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="/static/18bianma/css/style.css">

	<!-- Modernizr JS -->
	<script src="/static/18bianma/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>





	<div class="fh5co-loader"></div>

	<div id="page">


	<div id="fh5co-testimonial" class="fh5co-bg-section">
		<div class="container">
			<div class="row animate-box row-pb-md">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<span><a style="font-size: 50px;color: #0b0b0b" href="http://127.0.0.1:8000/homepage/introduction">编码表</a></span>
					<h2 style="font-size: 20px">18计算法学 数学院</h2>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 animate-box">
					<div class="testimonial">
						<blockquote>
							<p>&ldquo;我是2018级计算法学班的于航，来自山东威海，性格比较均衡，对熟人会更外向些，是法学院学生会新媒体中心的干事，平时喜欢用电脑剪视频，目前正在计算法学的学习中。&rdquo;</p>
							<p class="author"> <img src="/static/18bianma/images/18/18计法于航.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 于航</cite></p>
						</blockquote>
					</div>
					<div class="testimonial">
						<blockquote>
							<p>&ldquo;我是臧海妍，来自山东烟台，是2018级计算法学班新生。我是一个比较矛盾的人，兼有理性和感性两面。凡事预则立，不预则废，所以我喜欢有计划，按步骤的达到预期目标。希望未来能够不负韶华，一往无前。&rdquo;</p>
							<p class="author"><img src="/static/18bianma/images/18/18计法臧海妍.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 臧海妍</cite></p>
						</blockquote>
					</div>
				</div>




				<div class="col-md-6 animate-box">
					<div class="testimonial">
						<blockquote>
							<p>&ldquo; 胡政倩，女，18岁，来自于河北石家庄，现于山东大学（威海）读计算法学专业。我善良，乐于助人，认真负责，诚实守信并吃苦耐劳，但我也有点自卑，有点孤僻，不善与人交流。我擅长数学与化学学科，语文和英语学科较差。在兴趣爱好方面，我喜欢舞蹈，并加入了校舞蹈团。&rdquo;</p>
							<p class="author"><img src="/static/18bianma/images/18/18计法胡政倩.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 胡政倩</cite></p>
						</blockquote>
					</div>
					<div class="testimonial">
						<blockquote>
							<p>&ldquo;大家好，我叫杨文涛，来自18级数院统计二班。我的家乡是河北邢台，高中毕业于河北衡水冀州中学。我是非常外向、也喜欢交朋友的女孩，对待学习和工作是非常严肃的，也是有责任心的。希望在未来可以与大家成为好朋友！&rdquo;</p>
							<p class="author"><img src="/static/18bianma/images/18/18统2杨文涛.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 杨文涛</cite></p>
						</blockquote>
					</div>
				</div>






				<div class="col-md-6 animate-box">
					<div class="testimonial">
						<blockquote>
							<p>&ldquo;我是计算法学班的杜婧。大多数时候喜欢安静，但也不排斥热闹；与人交往不是很主动，却可以在熟悉的人面前变成一个小疯子；喜欢精致小巧的东西，对自己喜欢的事情有无限的耐心和热情。希望可以遇到更多有趣的灵魂吧。&rdquo;</p>
							<p class="author"><img src="/static/18bianma/images/18/18计法杜婧.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 杜婧</cite></p>
						</blockquote>
					</div>
					<div class="testimonial">
						<blockquote>
							<p>&ldquo;胡扬辉，18级法学院计算法学特色班。热爱有挑战性、创造性的工作，喜欢尝试新鲜事物。不喜欢重复性的工作，但是愿意认真完成承诺的工作!&rdquo;</p>
							<p class="author"><img src="/static/18bianma/images/18/18计法胡扬辉.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 胡扬辉</cite></p>
						</blockquote>
					</div>
				</div>




				<div class="col-md-6 animate-box">
					<div class="testimonial">
						<blockquote>
							<p>"本人为2018级法学院计算法学专业新生罗瑞。初来山大，怀着对法学专业的未知中的一份向往。有幸接触到计算法学相关全新领域后，更是激发了对于向多学科探索的兴趣，深感触到了未来发展的一角。我将怀着好奇之心，在今后的学习中攻坚克难，突破自我。&rdquo;</p>
							<p class="author"><img src="/static/18bianma/images/18/18计法罗瑞.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 罗瑞</cite></p>
						</blockquote>
					</div>
					<div class="testimonial">
						<blockquote>
							<p>&ldquo;我是魏宪政，来自山东潍坊，平时喜欢打打乒乓球，做事严谨认真，对当前大数据时代的细化操作比较感兴趣，希望通过这方面的学习来适应这个新时代，对世界有更加细致系统的认知，并为这个时代做出一定贡献。&rdquo;</p>
							<p class="author"><img src="/static/18bianma/images/18/18计法魏宪政.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 魏宪政</cite></p>
						</blockquote>
					</div>
				</div>




				<div class="col-md-6 animate-box">
					<div class="testimonial">
						<blockquote>
							<p>&ldquo;许汉楠，来自福建泉州。性格开朗外向，喜欢表达自我，擅长朗诵和演讲，业余爱好有古筝和毛笔，对法律和人工智能有较浓厚的兴趣，乐于与各种各样的人交朋友。&rdquo;</p>
							<p class="author"><img src="/static/18bianma/images/18/18计法许汉楠.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 许汉楠</cite></p>
						</blockquote>
					</div>
					<div class="testimonial">
						<blockquote>
							<p>&ldquo;我是姚竣馨，来自安徽合肥，是18级山东大学（威海）计算法学专业的学生，校广播站开发部的干事。喜欢看书，课余生活经常打羽毛球，习惯用列清单的方式处理任务，追求高质高效。&rdquo;</p>
							<p class="author"><img src="/static/18bianma/images/18/18计法姚竣馨.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 姚竣馨</cite></p>
						</blockquote>
					</div>
				</div>




				<div class="col-md-6 animate-box">
					<div class="testimonial">
						<blockquote>
							<p>&ldquo;我是张紫衡，山东临沂人，是来自法学院2018级计算法学班的一名学生，平时爱好读书，热爱大数据方面的知识，“路漫漫其修远兮”，我愿在数据科学这条道路上“上下而求索”，争做数据科学的排头兵！&rdquo;</p>
							<p class="author"><img src="/static/18bianma/images/18/18计法张紫衡.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 张紫衡</cite></p>
						</blockquote>
					</div>
					<div class="testimonial">
						<blockquote>
							<p>&ldquo;大家好，我的名字是侯家乐，我来自河南郑州，是一个性格开朗，积极进取的女生。我的兴趣是拉二胡，但技术一般，所以特别崇拜那些会演奏乐曲的同学。对于数据科学、人工智能、云计算、大数据等新科技抱有浓厚的兴趣，并且希望将来能更好的利用所学的专业知识与技能为国家计算法学领域的研究和应用做出贡献。&rdquo;</p>
							<p class="author"><img src="/static/18bianma/images/18/18计法侯家乐.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 侯家乐</cite></p>
						</blockquote>
					</div>
				</div>





				<div class="col-md-6 animate-box">
					<div class="testimonial">
						<blockquote>
							<p>&ldquo;杨统，四川成都人。毕业于成都市航天中学，现为山东大学威海法学院2018级计算法学专业学生。爱好哲学，特别是德国古典哲学；对历史，尤其是古代史也十分喜爱。曾学习过两年的小提琴，爱好民谣音乐。思想性格上偏向犬儒主义，同时也是一理想主义者&rdquo;</p>
							<p class="author"><img src="/static/18bianma/images/18/18计法杨统.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 杨统</cite></p>
						</blockquote>
					</div>
					<div class="testimonial">
						<blockquote>
							<p>&ldquo;我是2018级计算法学班的刘秩君，开朗活泼且不失严谨，外向大方且认真负责，我喜欢探寻生命科学的奥秘，我喜欢研究数据科学的规律，我喜欢聆听悠扬的琴声，我喜欢舞出青春的活力……我希望我不辜负青春，不浪费生命，让每天更有意义。&rdquo;</p>
							<p class="author"><img src="/static/18bianma/images/18/18计法刘秩君.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 刘秩君</cite></p>
						</blockquote>
					</div>
				</div>




				<div class="col-md-6 animate-box">
					<div class="testimonial">
						<blockquote>
							<p>&ldquo; 我是张天雨，来自山东济南，现任计算法学班班长，2018年考入山东大学（威海），很荣幸加入计算法学班。我希望能在四年时间里肩负好综合法学与大数据人工智能的光荣使命，成为合格的山大人和计法人。&rdquo;</p>
							<p class="author"><img src="/static/18bianma/images/18/18计法班张天雨.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 张天雨</cite></p>
						</blockquote>
					</div>
					<div class="testimonial">
						<blockquote>
							<p>&ldquo; 我叫曹明轩，来自一座泰山脚下的小城——泰安。平时喜欢看书，尤其是东野圭吾的推理小说；喜欢看《奇葩说》、《吐槽大会》这类综艺。我的奋斗目标正如高中母校的校训:做一个幸福的人。&rdquo;</p>
							<p class="author"><img src="/static/18bianma/images/18/18计算法学曹明轩.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 曹明轩</cite></p>
						</blockquote>
					</div>
				</div>






				<div class="col-md-6 animate-box">
					<div class="testimonial">
						<blockquote>
							<p>&ldquo;我是来自山东潍坊的李德龙，现为2018级山东大学（威海）法学院计算法学班的学生。喜欢新事物新知识、富有创新精神、乐于接受挑战，具有很好的团队意识。乒乓球打的还是可以的，也喜欢听音乐。希望大家喜欢我鸭~&rdquo;</p>
							<p class="author"><img src="/static/18bianma/images/18/18计法李德龙.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 李德龙</cite></p>
						</blockquote>
					</div>
					<div class="testimonial">
						<blockquote>
							<p>&ldquo;Hello，我叫李仙杵，来自宁夏银川，是西北没有高原红的孩子。当初选择计算法学是抱着对数学的喜爱和对新事物的好奇，可在我进入这个班级后，开始尝试全新的自我：学习Python，学习Amos，听听高数，同时进行着法学学习。我相信，日常中社会人文类学科和偏理科类的交叉学习让我在日常生活中更有活力。&rdquo;</p>
							<p class="author"><img src="/static/18bianma/images/18/18计法李仙杵.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 李仙杵</cite></p>
						</blockquote>
					</div>
				</div>






				<div class="col-md-6 animate-box">

					<div class="testimonial">
						<blockquote>
							<p>&ldquo;我叫鲁秋实，今年18岁，来自湖南湘西。现就读于山东大学（威海），专业为计算法学。我喜好阅读和弹琴和旅行，性格偏向沉静内敛。进入大学之后，我会努力保持较好的学习状态，争取在珍贵年华中成就更加符合自己期盼的自己，珍惜光阴，力求上进。&rdquo;</p>
							<p class="author"><img src="/static/18bianma/images/18/18计法鲁秋实.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 鲁秋实</cite></p>
						</blockquote>
					</div>

					<div class="testimonial">
						<blockquote>
							<p>&ldquo;孙艾妮，2018级计算法学班，来自安徽合肥，是一名对理科抱有浓厚兴趣的文科生，除了对法学有较大向往外，对人工智能的时代潮流也相当推崇，因而选择计算法学这个年轻而富有活力的专业，希望在本科四年以及日后的学习生涯中，与之共同成长。让数据真正走进大众生活，真正为人类服务。  &rdquo;</p>
							<p class="author"><img src="/static/18bianma/images/18/18计法孙艾妮.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 孙艾妮</cite></p>
						</blockquote>
					</div>

				</div>



				<div class="col-md-6 animate-box">
					<div class="testimonial">
						<blockquote>
							<p>&ldquo;我是王玉琪，来自山东德州，是一个认真学习，热爱生活的女孩，在空闲时间喜欢做一些手工，感受生活的宁静与美好。希望在参与项目，学习课程中掌握法律的思维和数学的专业知识，与大家共同进步。&rdquo;</p>
							<p class="author"><img src="/static/18bianma/images/18/18计法王玉琪.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 王玉琪</cite></p>
						</blockquote>
					</div>
					<div class="testimonial">
						<blockquote>
							<p>&ldquo; 孙雯雯，女，来自安徽省阜阳市，现任山东大学威海校区法学院计算法学特色实验班团支部书记。活泼乐观，性情温煦，善于与他人沟通。逻辑思维能力较强，头脑冷静且心思细密。热爱运动与音乐，阳光向上，乐于助人，是一名勤勉敬业的学生。&rdquo;</p>
							<p class="author"><img src="/static/18bianma/images/18/18计法孙雯雯.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 孙雯雯</cite></p>
						</blockquote>
					</div>
				</div>




				<div class="col-md-6 animate-box">
					<div class="testimonial">
						<blockquote>
							<p>&ldquo;徐越，无字无号，生于百越，越莽莽之山，背迢迢之水而至齐鲁。喜奔袭，好篮球，擅抚琴，能舞袖，可洋洋三千汉字以抒怀，可兢兢一二西文至平心。性刚毅而爽朗，不乏柔和与细腻。仆不才，然诚愿潜心修学，探数据科学之路。解其一二，以为家国计。或得见人类之前路，大幸也。&rdquo;</p>
							<p class="author"><img src="/static/18bianma/images/18/18计法徐越.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 徐越</cite></p>
						</blockquote>
					</div>
					<div class="testimonial">
						<blockquote>
							<p>&ldquo;许新冉，山东大学（威海）2018级计算法学特色班学生，安徽合肥人。喜欢读书和英语，读书偏爱文史哲方面，也涉猎国画和金石。现山威jessup赛队队员。&rdquo;</p>
							<p class="author"><img src="/static/18bianma/images/18/18计法许新冉.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 许新冉</cite></p>
						</blockquote>
					</div>
				</div>





				<div class="col-md-6 animate-box">
					<div class="testimonial">
						<blockquote>
							<p>&ldquo;我叫袁萌，来自山东临沂，现是山东大学（威海）法学院2018级计算法学秃头班的一名新生。我喜欢早起跑步或者和朋友打羽毛球。闲下来时喜欢写写日记。参加此次项目，让我学到了很多电脑方面的知识，可以说收获丰富。&rdquo;</p>
							<p class="author"><img src="/static/18bianma/images/18/18计法袁萌.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 袁萌</cite></p>
						</blockquote>
					</div>
					<div class="testimonial">
						<blockquote>
							<p>&ldquo;我叫张浩，来自山东潍坊是计算法学的一员，平时爱好打打游戏弹弹吉他，但技术一般。我加入计算法学是为了丰富自己的知识，希望自己以后能为国家做出一点贡献，作为第一批计算法学的学生我一定会努力学好自己的专业课，让自己的知识更加丰富。&rdquo;</p>
							<p class="author"><img src="/static/18bianma/images/18/18计法张浩.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 张浩</cite></p>
						</blockquote>
					</div>
				</div>



				<div class="col-md-6 animate-box">
					<div class="testimonial">
						<blockquote>
							<p>&ldquo;  我是法学院计算法学班的张洛嘉，是地地道道土生土长的山东人。我喜欢看书，喜欢科幻小说，推理小说，最喜欢的是东野圭吾的推理小说。平时也爱打打游戏，看看漫画，美剧和电影。&rdquo;</p>
							<p class="author"><img src="/static/18bianma/images/18/18计法张洛嘉.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 张洛嘉</cite></p>
						</blockquote>
					</div>
					<div class="testimonial">
						<blockquote>
							<p>&ldquo;大家好，我叫李宛谕来自18级统计二班。白居易有诗言：晴野霞飞绮，春郊柳宛丝，我的名字便来自于此。我喜好读书，最喜欢的作者是阿加莎克里斯蒂，最喜欢的书是《东方快车谋杀案》。&rdquo;</p>
							<p class="author"><img src="/static/18bianma/images/18/18统二李宛谕.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 李宛谕</cite></p>
						</blockquote>
					</div>
				</div>





				<div class="col-md-6 animate-box">
					<div class="testimonial">
						<blockquote>
							<p>&ldquo; 黄河源，山东大学18级统计学专业本科生，学习和组织统筹能力强，高二获江西省中学生生物竞赛二等奖，大一任学生会秘书处干事。&rdquo;</p>
							<p class="author"><img src="/static/18bianma/images/18/18统计黄河源.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 黄河源</cite></p>
						</blockquote>
					</div>
					<div class="testimonial">
						<blockquote>
							<p>&ldquo;刘润洲，男，1999年生人，祖籍山东安丘，生于济南，冠于青岛，现居威海，18级山大学子也。略知一二，喜而不精者，画乐书也。胸有志，学无涯，与君共勉。&rdquo;</p>
							<p class="author"><img src="/static/18bianma/images/18/18统计刘润洲.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 刘润洲</cite></p>
						</blockquote>
					</div>
				</div>






				<div class="col-md-6 animate-box">
					<div class="testimonial">
						<blockquote>
							<p>&ldquo;我是来自山东大学（威海）18级统计学1班的刘玥凝。我喜平时的爱好是读书与看电影。我安静沉稳，乐于挑战生活中的困难。就像我很喜欢的一句话：“此生辽阔，何必束手就擒”，没有什么能成为阻挡你前进的理由。&rdquo;</p>
							<p class="author"><img src="/static/18bianma/images/18/18统计刘玥凝.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 刘玥凝</cite></p>
						</blockquote>
					</div>
					<div class="testimonial">
						<blockquote>
							<p>&ldquo;姓名：欧阳艳君。 年龄：17岁 性别：女孩子。 先就读于山东大学威海校区。 来自江西省萍乡市，江南第一高山武功山脚下。 兴趣爱好：书法，计算机，轮滑，滑板，棋类等等。&rdquo;</p>
							<p class="author"><img src="/static/18bianma/images/18/18统计欧阳艳君.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 欧阳艳君</cite></p>
						</blockquote>
					</div>

				</div>
                <div class="col-md-6 animate-box">
					<div class="testimonial">
						<blockquote>
							<p>&ldquo;姓名：陈昊 籍贯：山东省临沂市
我从初中开始便对数据的收集及分析有很大的兴趣，但一直没有机会进行实践。高二寒假与同班同学借完成学校的社会实践任务之机，对不同年龄段观众对某一电视节目的喜好程度进行了统计及分析。我们通过问卷收集信息，并制作了若干个excel表格其中附带了不同类型的数据图。最后进行了总结得出节目的适龄观众群体。
我希望在学习中学会如何收集信息及如何分析数据，并提升自己提出有研究价值的问题的能力，我对数学不是特别擅长但能忍受较为枯燥的任务。&rdquo;</p>
							<p class="author"><img src="/static/18bianma/images/18/18计法陈昊.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 刘玥凝</cite></p>
						</blockquote>
					</div>
					<div class="testimonial">
						<blockquote>
							<p>&ldquo;我叫严玥，是个来自陕西的双子座女生，性格开朗乐观，喜欢听音乐，追追剧，唱唱歌。事物都有两面性，人类也有优缺点，扬长避短，方得始终。我的优点呢，是待人接物方面比较有技巧，能安抚，会倾听，愿意做他人之良友，喜欢玩，不喜欢无聊，认为人生苦短，每一天都要按自己的意愿开心度过。我的缺点，是做事情往往没有耐性，偶尔半途而废，不愿接受无聊的东西，但创新技能也不怎么样，所以造成了严重的后果。希望在漫漫人生路上能遇到足够的云翳，去造就一个美丽的黄昏！&rdquo;</p>
							<p class="author"><img src="/static/18bianma/images/18/18计法严玥.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 严玥</cite></p>
						</blockquote>
					</div>

				</div>






				<div class="col-md-6 animate-box">
					<div class="testimonial">
						<blockquote>
							<p>&ldquo; 本人戚钧彦，来自湖北宜昌，爱好广泛。学术方面，喜欢数学与计算机，以及二者的结合，即数据科学；体育方面，热爱羽毛球与足球。会经常翻看有关数据科学的书籍，正在努力的学习相关知识，但目前只是略懂皮毛。&rdquo;</p>
							<p class="author"><img src="/static/18bianma/images/18/18统计戚钧彦.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 戚钧彦</cite></p>
						</blockquote>
					</div>
					<div class="testimonial">
						<blockquote>
							<p>&ldquo;徐静 专业：统计学 2018.09—至今，山东大学（威海）数学与统计学院，2018级本科生在读。 座右铭：学习要有三心，一信心，二决心，三恒心。 ——陈景润&rdquo;</p>
							<p class="author"><img src="/static/18bianma/images/18/18统计徐静.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 徐静</cite></p>
						</blockquote>
					</div>

				</div>





				<div class="col-md-6 animate-box">
					<div class="testimonial">
						<blockquote>
							<p>&ldquo; 高若琦，十八岁的少女一枚，来自美丽的云南普洱，著名的茶乡。喜欢听音乐，热爱写作，虽是一个喜欢听风写雨的无聊的文科生，却也对信息与科技满怀热忱之心。也许没有理科生的灵活与机巧，却也多出一份稳重与执着；也许没有过人的智慧与能力，却也有着独特的思维与见解；也许没有非凡的才能与天赋，却也有着敢闯敢做的少年激情。“唯我道心清似水，任他世事冷如冰。”在浮华的喧嚣里，始终秉持一颗赤子之心，过着最朴素的生活，怀抱着最伟大的理想，不畏天寒地冻，不顾路遥马亡。这便是我，最最平凡而真挚的我。&rdquo;</p>
							<p class="author"><img src="/static/18bianma/images/18/18计法高若琦.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 高若琦</cite></p>
						</blockquote>
					</div>

					<div class="testimonial">
						<blockquote>
							<p>&ldquo;本人赵呈亮，来自山东省济南市。现为山东大学(威海)数学与统计学院统计学一年级本科生，在平时的学术兴趣是数据科学，纯数学，欧式几何。在生活中，积极乐观，热爱体育运动，热爱文学，尤喜诗词。对历史有浓厚的兴趣&rdquo;</p>
							<p class="author"><img src="/static/18bianma/images/18/18统计赵呈亮.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 赵呈亮</cite></p>
						</blockquote>
					</div>

				</div>
				<div class="col-md-6 animate-box">
					<div class="testimonial">
						<blockquote>
							<p>&ldquo;  高小凡，毕业于安徽省界首市第四中学，现就读于山东大学（威海）数学与统计学院18级信息与计算科学班。&rdquo;</p>
							<p class="author"><img src="/static/18bianma/images/18/18信计高小凡.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 高小凡</cite></p>
						</blockquote>
					</div>
					<div class="testimonial">
						<blockquote>
							<p>&ldquo;黄海川，山东大学（威海）数学与统计学院2018级信息与计算科学专业学生。性格开朗大方，爱好广泛，喜欢创新、科研，在数据科学方面兴趣浓厚。相信“天生我材必有用，千金散尽还复来。”&rdquo;</p>
							<p class="author"><img src="/static/18bianma/images/18/18信计黄海川.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 黄海川</cite></p>
						</blockquote>
					</div>
				</div>



				<div class="col-md-6 animate-box">
					<div class="testimonial">
						<blockquote>
							<p>&ldquo; 我叫李欣澎，是山大威海信息与计算科学专业的一名学生。我来自陕西西安，西安是一座历史名城，它的文化底蕴也深深地感染了我。平常喜欢打羽毛球，看电影等休闲活动。我较喜欢钻研思考问题，对难题有耐心不放弃。我的性格比较内向，不擅长与新面孔打交道，但这不影响我交到朋友。&rdquo;</p>
							<p class="author"><img src="/static/18bianma/images/18/18信计李欣澎.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 李欣澎</cite></p>
						</blockquote>
					</div>
					<div class="testimonial">
						<blockquote>
							<p>&ldquo;就读于山东大学威海校区信息与计算科学专业，热爱数学且对数据科学有极大的兴趣，爱好广泛，包括但不拘于电影、运动、阅读和音乐，希望自己能锐意进取，百尺竿头，更进一步。&rdquo;</p>
							<p class="author"><img src="/static/18bianma/images/18/18信计银倩.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 银倩</cite></p>
						</blockquote>
					</div>
				</div>


				<div class="col-md-6 animate-box">
					<div class="testimonial">
						<blockquote>
							<p>&ldquo;周冠华，18岁，来自山东，现为山东大学威海分校数学与统计学院18级信息与计算科学新生。开朗活泼，乐于助人，现任院学生会学习部干事。谨慎细心，诚恳踏实，有立志科研的意愿。&rdquo;</p>
							<p class="author"><img src="/static/18bianma/images/18/18信计周冠华.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 周冠华</cite></p>
						</blockquote>
					</div>
					<div class="testimonial">
						<blockquote>
							<p>&ldquo;吴祎昂，女，18岁，就读于山东大学威海分校，数学与统计学院的信息与计算科学专业，喜欢数学，乐于去钻研数学难题；做事认真，追求严谨，凡事尽可能做到完善；为人热心，乐于帮助他人。希望能够与大家共同进步！&rdquo;</p>
							<p class="author"><img src="/static/18bianma/images/18/18信计吴祎昂.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 吴祎昂</cite></p>
						</blockquote>
					</div>
				</div>



				<div class="col-md-6 animate-box">
					<div class="testimonial">
						<blockquote>
							<p>&ldquo;我是尹爱华，是山东大学威海校区18级数学与应用数学专业的学生。喜欢尝试新鲜事物，喜欢挑战自己，不断完善自己。对数学和英语有较强的兴趣。曾参加英语竞赛，并取得了不错的成绩。&rdquo;</p>
							<p class="author"><img src="/static/18bianma/images/18/18应数尹爱华.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 尹爱华</cite></p>
						</blockquote>
					</div>
					<div class="testimonial">
						<blockquote>
							<p>&ldquo;周坚祥，一个18级应用数学学生，好好学习，天天向上。喜欢数学，正在试图学习编程和有关数据科学的种种内容，并在积极努力变强。&rdquo;</p>
							<p class="author"><img src="/static/18bianma/images/18/18应数周坚祥.JPG" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 周坚祥</cite></p>
						</blockquote>
					</div>
				</div>
				<div class="col-md-6 animate-box">

					<div class="testimonial">
						<blockquote>
							<p>&ldquo; 热爱数学，喜欢钻研问题，对统计学尤其是数据科学有着浓厚的兴趣。在学习和工作过程中有恒心，吃苦耐劳，希望能够在数据科学组中和志同道合的同学共同学习、共同进步，为我校的数据科学工作贡献一份自己的力量。&rdquo;</p>
							<p class="author"><img src="/static/18bianma/images/18/18统2都一凡.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 都一凡</cite></p>
						</blockquote>
					</div>

					<div class="testimonial">
						<blockquote>
							<p>&ldquo;大家好，我是18级计算法学的宁美玉，来自湖南益阳，是一个戏迷加一个辣痴😜😜，一个疯狂而又文静的、活泼可爱而又认真的，选计法之后独爱数学，遇法类记忆就头大的理科小孩儿。&rdquo;</p>
							<p class="author"><img src="/static/18bianma/images/18/18计法宁美玉.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 宁美玉</cite></p>
						</blockquote>
					</div>

				</div>
				<div class="col-md-6 animate-box">

					<div class="testimonial">
						<blockquote>
							<p>"大家好，我叫郭宇轩，来自陕西榆林。现就读于山东大学（威海）2018级计算法学班。十分荣幸能参与此次戒毒所项目，为次项目贡献自己的力量。日常生活中，我为人处世并不像做数据工作般严肃。我性格开朗，热情洋溢，喜欢读书，略懂古筝。希望能与大家成为共同做数据的好战友。&rdquo;</p>
							<p class="author"><img src="/static/18bianma/images/18/18计法郭宇轩.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 郭宇轩</cite></p>
						</blockquote>
					</div>

					<div class="testimonial">
						<blockquote>
							<p>"我是刘洋洋，2018级数学与应用数学专业的新生。作为一名理科生，无论是平常的学习生活还是日常做事都有一定的逻辑性和合理性，信奉着自然科学。另外，在学习之外，我喜欢自己动手制作手工，提高自己的动手能力；还热爱书法艺术，修身养性陶冶情操。"</p>
							<p class="author"><img src="/static/18bianma/images/18/18应数刘洋洋.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 刘洋洋</cite></p>
						</blockquote>
					</div>

				</div>
			</div>
		</div>
	</div>










	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

	<!-- jQuery -->
	<script src="/static/18bianma/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="/static/18bianma/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="/static/18bianma/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="/static/18bianma/js/jquery.waypoints.min.js"></script>
	<!-- countTo -->
	<script src="/static/18bianma/js/jquery.countTo.js"></script>
	<!-- Magnific Popup -->
	<script src="/static/18bianma/js/jquery.magnific-popup.min.js"></script>
	<script src="/static/18bianma/js/magnific-popup-options.js"></script>
	<!-- Main -->
	<script src="/static/18bianma/js/main.js"></script>

	</body>
</html>

