<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" href="/static/ele/img/fav-icon.png" type="image/x-icon" />
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>电子</title>

        <!-- Icon css link -->

        <link href="/static/ele/vendors/elegant-icon/style.css" rel="stylesheet">
        <link href="/static/ele/vendors/themify-icon/themify-icons.css" rel="stylesheet">
        <!-- Bootstrap -->
        <link href="/static/ele/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/ele/vendors/owl-carousel/owl.carousel.min.css" rel="stylesheet">
        <link href="/static/ele/css/style.css" rel="stylesheet">

    </head>
    <body>


    <div class="row animate-box row-pb-md">
				<div class="top" style="text-align: center;margin: 5px auto;margin-top: 50px">
					<span><a style="font-size: 45px;color: #0b0b0b;" href="http://127.0.0.1:8000/homepage/introduction">电子</a></span>
					<h2 style="font-size: 20px;margin-top: 20px;color: #6c757d">17数学院</h2>
				</div>
			</div>





        <!--================Testimonials Area =================-->
        <section class="testimonials_area p_100">
            <div class="container">
                <div class="testimonials_slider owl-carousel" style="margin-top: 50px">
                    <div class="item">
                        <div class="media">
                            <img class="d-flex rounded-circle" src="/static/ele/img/未命名2.png" alt="">
                            <div class="media-body" style="color: #6c757d">
                                <img src="/static/ele/img/dotted-icon.png" alt="">
                                <br>

                                <p>李天然，山东大学（威海）17级统计学专业在读。研究方向：智能硬件。"<br>除了将Arduino发射到太空中，将它连到因特网可能是最接近的能把整个世界变成你的游乐场的方法" ，游玩愉快。<br>Weibo：@__1DIAN__<br>Instagram：@husiluanxiangdejiangroubao</p>
                                <h4><a href="#">李天然</a> - 17统计</h4>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="media" style="margin-top: 50px">
                            <img class="d-flex rounded-circle" src="/static/ele/img/cxr2.jpg" alt="">
                            <div class="media-body">
                                <img src="/static/ele/img/dotted-icon.png" alt="">
                                <p>曹晓蕊，来自河北，擅长和喜欢的事情都是一个人独处，向往自由，期待每一个明天，无论现在未来，愿和光同尘，与时舒卷。</p>
                                <h4><a href="#">曹晓蕊</a> - 17统计</h4>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!--================End Testimonials Area =================-->








        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="/static/ele/js/jquery-3.2.1.min.js"></script>

        <script src="/static/ele/vendors/counterup/jquery.counterup.min.js"></script>

        <script src="/static/ele/vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="/static/ele/vendors/parallaxer/jquery.parallax-1.1.3.js"></script>

        <script src="/static/ele/js/theme.js"></script>
    </body>
</html>
