<!DOCTYPE HTML>
<html>
<head>
<title>研究生团队</title>
<link href="/static/研究生团队/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<link href="/static/研究生团队/css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Fashion Show Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="/static/研究生团队/js/jquery-1.8.3.min.js"></script>
<!---- start-smoth-scrolling---->
<script type="text/javascript" src="/static/研究生团队/js/move-top.js"></script>
<script type="text/javascript" src="/static/研究生团队/js/easing.js"></script>
 <script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
			});
		});
	</script>
<!---End-smoth-scrolling---->
</head>
<body>


<!--header-->
			<div class="header">
				<div class="container">
					<div class="header-top">
						<div class="logo">
							<a href="http://127.0.0.1:8000/homepage/home">about<span> us</span></a>
						</div>
						<div class="top-menu">
							<span class="menu"><img src="/static/研究生团队/images/nav.png" alt=""/> </span>
							<ul>
								<li><a href="http://127.0.0.1:8000/homepage/home">homepage</a></li>
								<li><a href="http://127.0.0.1:8000/homepage/introduction">研究生团队</a></li>
                                <li><a href="http://127.0.0.1:8000/homepage/introduction/cgss/">cgss</a></li>

								<li><a href="http://127.0.0.1:8000/homepage/introduction/ele/">电子</a></li>
                                <li><a href="http://127.0.0.1:8000/homepage/introduction/coding/">戒毒所编码表</a></li>

{#								<li><a href="contact.html">contact</a></li>#}
							</ul>
						</div>
						 <!--script-nav-->
						 <script>
						 $("span.menu").click(function(){
						 $(".top-menu ul").slideToggle("slow" , function(){
						 });
						 });
						 </script>
						<div class="clerfix"></div>
					</div>
				</div>
			</div>
		<!--header-->


				<div class="news">
					<div class="container">
						<h3 style="color: #0b0b0b;font-size: 40px">研究生团队</h3>


						<div class="new-grids">

                            <div class="col-md-6 new-grid1">
								<h5>研究生团队|00</h5>
								<h4><a href="#">伍六七</a></h4>
								<p style="font-size: 20px;">伍六七，钱塘人也，少顽劣，常携三五少年嬉于野，飞鹰走狗，落拓江湖，轻狂潦倒，甚恣意也。尝善泅以入省队，阻于外公书生意气，未果；后尝学画，未成，欲学玉雕于吴门，亦未遂。平素喜诗史子集，通六地方言，尤善长琴，然其志于庖厨间也，不为茂才所动。后因机缘际会得学机巧数算于山威，恍悟心之所向，惜逝者斯夫，天地逆旅，百代之过客也，遂夙夜研之，亦无倦意也。</p>
							</div>
							<div class="col-md-6 new-grid">
								<a href="#" class="mask">
								<img src="/static/研究生团队/images/研究生团队/567.jpg" class="img-responsive zoom-img" alt=""></a>
							</div>



							<div class="clearfix"></div>

                            <div class="col-md-6 new-grid">
								<a href="#" class="mask">
								<img src="/static/研究生团队/images/研究生团队/bjl.jpg" class="img-responsive zoom-img" alt=""></a>
							</div>


							<div class="col-md-6 new-grid1">
								<h5>研究生团队|01</h5>
								<h4><a href="#">毕嘉琳</a></h4>
								<p style="font-size: 20px;">毕嘉琳，山东大学统计学博士在读，研究方向统计机器学习、金融数学，智能硬件。获得山东大学统计学理学学位和金融学经济学学位。山东省省级优秀毕业生、山东大学优秀毕业生。获得全国研究生数学建模比赛全国二等奖，全国大学生数学建模比赛省级一等奖，多次获得优秀学生奖学金。曾担任学校统计调研协会会长。2018年英国皇家统计协会国际会议进行最高等级学术报告，获得英国皇家统计协会奖学金、山东大学海外经历校长奖学金。</p>
							</div>
							<div class="clearfix"></div>


							<div class="col-md-6 new-grid1">
							    <h5>研究生团队|02</h5>
								<h4><a href="#">李仕坤</a></h4>
								<p style="font-size: 20px;">李仕坤，男，本科信息与计算科学专业，热爱运动，接下来要进行统计学直博的学习，本科阶段学习了计算科学的知识，擅长编程，目前正在使用python进行数据库和爬虫。</p>
							</div>
							<div class="col-md-6 new-grid">
								<a href="#" class="mask">
								<img src="/static/研究生团队/images/研究生团队/lsk2.jpg" class="img-responsive zoom-img" alt=""></a>
							</div>
							<div class="clearfix"></div>



							<div class="col-md-6 new-grid">
								<a href="#" class="mask">
								<img src="/static/研究生团队/images/研究生团队/bd3.jpg" class="img-responsive zoom-img" alt=""></a>
							</div>
							<div class="col-md-6 new-grid1">
								<h5>研究生团队|03</h5>
								<h4><a href="#">白迪</a></h4>
								<p style="font-size: 20px;">白迪，男，本科已在山威学习了三年统计学，接下来会继续攻读5年硕博。已经掌握了一些数理统计知识和应用统计技能，目前在使用Python进行改进的Process Analysis。性格开朗，热爱运动，喜欢广交朋友。</p>
							</div>
							<div class="clearfix"></div>




							<div class="col-md-6 new-grid1">
								<h5>研究生团队|04</h5>
								<h4><a href="#">闵雅</a></h4>
								<p style="font-size: 20px;">闵雅，女，山东大学信息与计算科学本科在读，吃货一枚，喜欢与小伙伴合作共事。现任班级组织委员、科研助理，曾任数学与统计学院团总支宣传部副部，获得两年优秀学生一等奖学金、校级三好学生，目前在学习结构方程模型与Amos应用，接下来将进行结构方程python程序开发</p>
							</div>
							<div class="col-md-6 new-grid">
								<a href="#" class="mask">
								<img src="/static/研究生团队/images/研究生团队/my.jpg" class="img-responsive zoom-img" alt=""></a>
							</div>
							<div class="clearfix"></div>


                            <div class="col-md-6 new-grid">
								<a href="#" class="mask">
								<img src="/static/研究生团队/images/研究生团队/unknown.jpg" class="img-responsive zoom-img" alt=""></a>
							</div>
							<div class="col-md-6 new-grid1">
								<h5>研究生团队|05</h5>
								<h4><a href="#">马悦宁</a></h4>
								<p style="font-size: 20px;">用化学在读，每每在写化学作业时呐喊"放我回去写代码吧！"
座右铭不爱数学和物理的化学生不是优秀的程序员。
随时见异思迁爱上一切能建模的东西，当然也热爱吃喝玩乐，至今一事无成。辗转天文物理与计算机，又陷入数学套中，每每深陷书海叹为观止。近来入坑CV，有研究动力系统和编码理论的大佬也十分欢迎赐教。
梦想退休后开个咖啡吧，欢迎大佬们来晒太阳，带着故事来的一律免单。</p>
							</div>
							<div class="clearfix"></div>



							<div class="col-md-6 new-grid1">
								<h5>研究生团队|06</h5>
								<h4><a href="#">徐梦洁</a></h4>
								<p style="font-size: 20px;">徐梦洁，女，就读于山东大学（威海）统计学专业，爱唱歌，爱电影，爱美食，也爱接下来的硕博学习生活，本科阶段学习了统计学的基础知识和软件应用，目前正在进行python和计量经济相结合的学习。</p>


							</div>
							<div class="col-md-6 new-grid">
								<a href="#" class="mask">
								<img src="/static/研究生团队/images/研究生团队/xmj.jpg" class="img-responsive zoom-img" alt=""></a>
							</div>
							<div class="clearfix"></div>





                            <div class="col-md-6 new-grid">
								<a href="#" class="mask">
								<img src="/static/研究生团队/images/研究生团队/zm.jpg" class="img-responsive zoom-img" alt=""></a>
							</div>
							<div class="col-md-6 new-grid1">
								<h5>研究生团队|07</h5>
								<h4><a href="#">张淼</a></h4>
								<p style="font-size: 20px;">张淼，山东菏泽人，长相很“山东”，性格也很“山东”，喜欢看侦探小说，尤其喜欢柯南。目前为山东大学（威海）在读研究生，研究方向为机器学习，2018年获曲阜师范大学理学学士学位。本科专业为数学与应用数学，2017年底开始学习编程，先后学习了C++和Python。</p>
							</div>
							<div class="clearfix"></div>




							<div class="col-md-6 new-grid1">
								<h5>研究生团队|08</h5>
								<h4><a href="#">曹继中</a></h4>
								<p style="font-size: 20px;">曹继中，女，本科就读于山东大学（威海）数学与统计学院统计学专业，现已保研至北京大学汇丰商学院Fintech专业。爱吃爱睡爱编程，更喜欢跟大家一起合作。目前正在学习计算机视觉。</p>
							</div>
							<div class="col-md-6 new-grid">
								<a href="#" class="mask">
								<img src="/static/研究生团队/images/研究生团队/cjz2.jpg" class="img-responsive zoom-img" alt=""></a>
							</div>
							<div class="clearfix"></div>


















						</div>
					</div>
				</div>



</body>
</html>
