<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="tab-form">
                    <form method="post" action="/test_register/" autocomplete="off">

                        <p>注册邮箱<input type = 'text' name = 'email'></p>
                        <p>再次确认注册邮箱<input type = 'text' name = 'email2'></p>
                        <input type="submit" value="激活邮箱" />
                        <span>{{ msg }}</span>
                    </form>
                </div>
</body>
</html>